@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 6px;
  background: #222528;
}

::-webkit-scrollbar-track {
  background: #222528;
}

::-webkit-scrollbar-thumb {
  background: #393D41;
  border-radius: 10px;
}